h1{
	font-size: 35px;
}
h2{
	font-size: 20px;
	color: white;
}
p{
	color: lightblue;
}
div{
	text-align: center;
}
.nav{
	background: #602060;
	padding: 10px;
}
a{
	color: violet;
}
body {
    background: #302060;
	background-size: cover;
}
