extends layout

block content
	form(name="add", action="/Add", method="post")
		div(class="content")
			h2 Title
			textarea(type="text", name="title", rows=2, cols=75)
			h2 Body
			textarea(type="text", name="body", rows=20, cols=75)
			div(class="submit")
				input(type="submit", value="Add")
